[submodule "lib/easyloggingpp"]
	path = lib/easyloggingpp
	url = https://github.com/amrayn/easyloggingpp.git
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse.git
